body{
    padding:0;
    margin: 0;
}
.main404{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main404 img{
    width: 400px;
    float: left;
    -webkit-user-drag: none;
}
.main404 span:nth-child(2){
    color: #f3f3f3;
    font-size: 100px;
    line-height: 150px;
    margin: 0;
}
.main404 span:nth-child(4){
    color: #f3f3f3;
    font-size: 30px;
    line-height: 70px;
}
.main404 button{
    width: 100px;
    height: 40px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #5e5e5e;
    font-size: 16px;
    transition: 0.1s linear;
}
.main404 button:hover{
    background-color: #c4ecdd;
}

