body{
    padding: 0;
    margin: 0;
}
.personalFm{
    width: 920px;
    height: 450px;
}
.personalFm-left{
    width: 450px;
    height: 450px;
    display: inline-block;
    overflow: hidden;
}
.personalFm-right{
    overflow: hidden;
    width: 430px;
    height: 450px;
    position: relative;
    display: inline-block;
}
.personalFm-left div{
    position: absolute;
}
.personalFm-left img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.personalFm-control{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.64);
    position: absolute;
    z-index: 93;
    cursor: pointer;
    transition: 0.2s linear;
}
.personalFMBottom{
    position: relative;
    top: 9px;
    left: 8px;
}
.personalFm-left-bottom{
    width: 180px;
    height: 40px;
    position: relative;
    top: 330px;
    left: 140px;
}
.personalFm-left-bottom div{
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin-left: 22px;
    top: 5px;
    cursor: pointer;
}
.personalFm-header{
    position: relative;
    top: 30px;
    text-align: center;
    width: 380px;
    height: auto;
    font-size: 15px;
    color: #7A797C;
    margin: 0 auto;
}
#personalFmSongName{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    color: #D4D4D4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 380px;
}
.personalFm-ar{
    text-align: center;
    position: relative;
    top: -15px;
    width: 380px;
    height: auto;
    margin: 0 auto;
    font-size: 15px;
    color: #7A797C;
}
.personalFm-ar p{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 15px;
    display: inline;
}
/**/
.personalFm-lyric-scrollbar {
    display: block;
    top: 0;
}
.personalFm-lyric{
    display: block;
    position: relative;
    color: #606266;
    text-align: center;
    width: 430px;
    height: 320px;
    margin-top: 30px;
    overflow: hidden;
}
.personalFm-lyricContent{
    width: 430px;
    padding: 0;
    position: relative;
}
.personalFm-lyricContent li{
    width: 100%;
    list-style: none;
    margin-top: 20px;
    white-space:pre-wrap;
    position: relative;
}