body{
    padding: 0;
    margin: 0;
}
/*顶部介绍栏*/
.songListDetailPage{
    width: 920px;
    height: 450px;
}
.songListDetailPage-top{
    width: 920px;
    height: 180px;
    overflow: hidden;
}
.songListDetailPage-top-img{
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 25px;
}
.songListDetailPage-top-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.songListDetailPage-top-right{
    width: 720px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 200px;
}
#songList{
    width: 32px;
    border-radius: 3px;
    color: #df3c3c;
    border: 1px solid #df3c3c;
    position: absolute;
    top: 10px;
}
#listName{
    width: 670px;
    position: absolute;
    left: 45px;
    font-size: 25px;
    top: 0;
    line-height: 25px;
    color: #dcdcdc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#avatar{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 55px;
    left: 2px;
}
#creatorName{
    font-size: 13px;
    color: #c6cdff;
    display: inline;
    cursor: pointer;
}
#creationTime{
    font-size: 10px;
    color: #989898;
    display: inline;
    margin-left: 3px;
}
#creatorWrap{
    width: 400px;
    height: 20px;
    position: absolute;
    top: 60px;
    left: 40px;
}
#play{
    border: none;
    width: 100px;
    height: 35px;
    position: absolute;
    border-radius: 15px;
    top: 100px;
    background-color: #df3c3c;
    color: #e7e7e7;
    cursor: pointer;
}
#collect{
    border: 1px solid #e7e7e7;
    background-color: transparent;
    width: 100px;
    height: 35px;
    position: absolute;
    border-radius: 15px;
    top: 100px;
    left: 120px;
    color: #e7e7e7;
    cursor: pointer;
}
#playCount{
    color: #989898;
    position: absolute;
    top: 130px;
    font-size: 10px;
}
#songCount{
    color: #989898;
    position: absolute;
    top: 130px;
    left: 60px;
    font-size: 10px;
}
#description{
    width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #989898;
    position: absolute;
    top: 150px;
    left: 0;
    font-size: 10px;
}

/*底部歌曲列表*/
.songListDetailPage-bottom{
    width: 920px;
    height: 270px;
}
.songListDetailPage-bottom-title{
    width: 100%;
    height: 30px;
    position: relative;
}
.songListDetailPage-bottom-title span{
    font-size: 13px;
    color: #989898;
}
.songListDetailPage-bottom-content{
    width: 100%;
    height: auto;
}
#panel{
    margin-left: 60px;
}
.songListDetailPage-bottom-title span:nth-child(1){
    margin-left: 60px;
}
.songListDetailPage-bottom-title span:nth-child(2){
    margin-left: 313px;
}
.songListDetailPage-bottom-title span:nth-child(3){
    margin-left: 130px;
}
.songListDetailPage-bottom-title span:nth-child(4){
    margin-left: 200px;
}
.songDetail{
    width: 880px;
    height: 25px;
    position: relative;
}
.songDetail:hover{
    background-color: #373737;
}
.songDetail:nth-child(2n){
    background-color: #2e2e2e;
}
.songDetail:nth-child(2n):hover{
    background-color: #373737;
}
.songDetail span{
    font-size: 13px;
    color: #d3d3d3;
    line-height: 25px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.songDetailIndex{
    position: absolute;
    left: 20px;
}
.songDetailName{
    width: 300px;
    height: 20px;
    position: absolute;
    left: 60px;
}
.songDetailAl{
    position: absolute;
    left: 555px;
    width: 160px;
    height: 20px;
}
.songDetailDt{
    position: absolute;
    left: 780px;
}
.detailAr{
    color: #d5d5d5;
    width: 120px;
    left: 400px;
    position: absolute;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.detailAr span{
    cursor: pointer;
    display: inline-block;
}
