body{
    padding: 0;
    margin: 0;
}
.userInfoPageMain{
    width: 100%;
    height: 100%;
}
.userInfoPageMain-top{
    width: 100%;
    height: 200px;
}
.userInfoLeft{
    width: 200px;
    height: 100%;
    float: left;
}
.userInfoRight{
    width: 720px;
    height: 100%;
    float: left;
    padding-top: 30px;
}
.userInfoLeft img{
    width: 150px;
    border-radius: 75px;
    margin-left: 30px;
    margin-top: 30px;
}
.userInfoRight-top{
    width: 700px;
    height: 70px;
    border-bottom: 1px solid #5e5e5e;
}
.userInfoRight-top button{
    width: 150px;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    border: none;
    float: right;
    cursor: pointer;
}
.userInfoRight-top button:hover{
    background-color: #dcdcdc;
}
#userInfoRight-top-nickname{
    color: #d5d5d5;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.userInfoRight-top div:nth-child(2){
    width: 40px;
    height: 18px;
    background-color: #efefef;
    border-radius: 9px;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}
.userInfoRight-top div:nth-child(3){
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}
.userGenderIcon{
    width: 14px;
    position: relative;
    top: -3px;
    left: 2px;
}
.userSubInfo{
    width: 75px;
    height: 35px;
    float: left;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #d5d5d5;
}
.userSubInfo-bottomTitle{
    font-size: 13px;
    color: #6e6e6e;
}
.userInfoRight-bottom span:nth-child(6){
    color: #d5d5d5;
    font-size: 12px;
}
.userInfoRight-bottom span:nth-child(8){
    color: #d5d5d5;
    font-size: 12px;
}
.userInfoPageMain-bottom-title{
    color: #d5d5d5;
    font-size: 20px;
    cursor: pointer;
}










