body{
    padding: 0;
    margin: 0;
}
.navigationBar{
    width: 100%;
    height: 100%;
}
.navigationBar-p{
    font-size: 14px;
    padding: 0;
    margin: 0;
    line-height: 38px;
    color: #d5d5d5;
    width: 165px;
    height: 38px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.navigationBar-p:hover{
    background-color: #333333;
}
.navigationBar-p-headline{
    font-size: 13px;
    color: #d5d5d5;
    margin-left: 3px;
}
.navigationBar-p-headline-wrap{
    width: 165px;
    height: 35px;
    position: relative;
}
.navigationBar-p-headline-wrap:hover{
    cursor: pointer;
}
.navigationBar-p-headline-wrap-svg{
    position: absolute;
    top: 7px;
    left: 75px;
}
.navigationBar-p-headline-wrap p{
    line-height: 35px;
}
.createdSongList{
    width: 165px;
}
.createdSongList-wrapper {
    color: #d5d5d5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
    transition: 0.1s linear;
}
.createdSongList-wrapper svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 8px;
}
.createdSongList-p{
    font-size: 14px;
    line-height: 30px;
}
.createdSongList-wrapper:hover{
    width: 100%;
    background-color: #333333;
    padding-left: 10px;
}