body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
#main{
    width: 100vw;
    height: 100vh;
    background-color: #c1cfd0;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.playerPage{
    width: 1100px;
    height: 600px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -550px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: linear 0.2s;
    overflow: hidden;
}
.playerPage:hover{
    transition: linear 0.2s;
    box-shadow:5px 5px 10px 5px #00000089;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

/*顶部*/
.playerPageTop{
    width: 1100px;
    height: 68px;
    position: absolute;
    background-color: #212121;
    transition: linear 0.2s;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #482b2a 0%, rgba(255, 84, 78, 0.7) 50%, #482b2a 100%) 2 2 2 2;
}
.theme-icon {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}
.topBar{
    width: 1100px;
    height: 70px;
}
.topBar-searchInput{
    width: 220px;
    height: 25px;
    border-radius: 15px;
    outline: none;
    transition: 0.2s linear;
    color: #c0c0c0;
    text-indent: 1em;
    border: 1px solid grey;
}
.topBar-search{
    width: 227px;
    height: 27px;
    position: absolute;
    left: 50%;
    margin-left: -114px;
    top: 50%;
    margin-top: -13px;
}
.playerPageTop-control{
    display: inline-block;
    width: 32px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: 380px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
}
.playerPageTop-control div{
    width: 16px;
    height: 20px;
    border: none;
    text-align: center;
    display: inline-block;
    color: #d5d5d5;
}
.playerPageTop-control div:hover {
    background-color: #bd5757;
}
.topBar-search-el-icon{
    top: 0;
    left:194px;
    background-color: #2b2b2b;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: linear 0.2s;
}
.topBar-list{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -150px;
    border-radius: 5px;
    max-height: 400px;
    white-space: nowrap;
    z-index: 100;
    background-color: #363636;
}
.topBar-list-main{
    font-size: 10px;
    color: #c0c0c0;
    width: 263px;
    margin-left: 37px;
}
.topBar-list-main-title{
    width: 60px;
    height: 30px;
    margin-bottom: -10px;
}
.topBar-list-main-title p{
    color: #f3c0c0;
    display: inline;
    font-size: 15px;
    position: relative;
    top: -7px;
}
.scrollbar-demo-item{
    line-height: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
}
.scrollbar-demo-item:hover {
    background-color: #3f3f3f;
}
.userProfile{
    width: 200px;
    height: 70px;
    position: absolute;
    right: 160px;
    top: 0;
}
.topBar-profile{
    height: 100%;
    width: 100%;
}
#topBar-login{
    font-size: 13px;
    color: #eebe77;
    position: absolute;
    top: 25px;
    left: 60px;
    cursor: pointer;
}
#topBar-nickname{
    font-weight: bold;
    font-size: 13px;
    color:  #eebe77;
    position: absolute;
    top:11px;
    left: 55px;
    cursor: pointer;
}
.topBar-profile-avatar{
    background-color: #eebe77;
    margin-left: 12px;
    margin-top: 15px;
    cursor: pointer;
}
.topBar-profile-popWindow{
    width: 240px;
    height: auto;
    background-color: #363636;
    position: absolute;
    top: 60px;
    left: -50px;
    z-index: 103;
    border-radius: 5px;
    padding-bottom: 30px;
}
.topBar-profile-popWindow button{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10px;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
}
.topBar-profile-popWindow-bottomDiv{
    width: 100%;
    height: 43px;
    position: relative;
    top: 20px;
    color: #D5D5D5;
    text-indent: 1em;
    line-height: 40px;
}
.topBar-profile-popWindow-bottomDiv:hover{
    background-color: #414141;
}
.topBar-profile-popWindow-svg{
    position: absolute;
    top: 9px;
    right: 0;
}
.topBar-profile-popWindow-numberArea{
    width: 80px;
    height: 70px;
    display: inline-block;
    text-align: center;
}
.topBar-profile-popWindow-numberArea-p1{
    color: #d5d5d5;
    font-size: 17px;
    position: relative;
    top: 10px;
    display: block;
}
.topBar-profile-popWindow-numberArea-p2{
    color: #989898;
    font-size: 12px;
    position: relative;
    top:20px;
    display: block;
}

/*中间结果页*/
.searchResult{
    background-color: #2b2b2b;
    width: 920px;
    height: 450px;
    position: absolute;
    top: 70px;
    left: 180px;
    border: none;
    transition: 0.2s linear;
}

/*左侧导航栏*/
.playerPageLeft{
    background-color: #2b2b2b;
    width: 179px;
    height: 450px;
    overflow-y: hidden;
    position: absolute;
    top: 70px;
    border-right: 1px solid rgba(84, 84, 84, 0.3);
    transition: 0.2s linear;
}

/*底部播放栏*/
.playerBar{
    width: 100%;
    height: 80px;
    background-color: #212124;
    position: absolute;
    top: 520px;
    left: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;
    transition: linear 0.2s;
}
.playerBar-left{
    width: 200px;
    height: 70px;
    position: absolute;
    overflow: hidden;
    animation: 0.2s linear;
}
.playerBar-left-wrap{
    width: 200px;
    height: 130px;
    position: absolute;
    transition: linear 0.2s;
    top: -60px;
}
.playerBar-left-top{
    width: 200px;
    height: 60px;
    position: relative;
}
.playerBar-left-bottom{
    width: 200px;
    height: 60px;
    position: relative;
    top: 10px;
}
.playerBar-left img,#music-icon,#cover{
    width: 45px;
    height: 45px;
    border-radius: 8px;
    margin-top: 7px;
    margin-left: 7px;
    background-color: #313131;
    cursor: pointer;
}
#cover{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}
#cover-arrows{
    margin-left: 10px;
    margin-top: 10px;
}
#playBar-left-top-flip{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline-block;
    margin-left: 20px;
}
#playBar-left-top-flip-arrows{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.playerBar-left-top-control1{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 13px;
    cursor: pointer;
}
.playerBar-left-top-control2{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 13px;
    cursor: pointer;
    position: relative;
    top: -2px;
}
.playerBar-left-top-control-icon1{
    width: 30px;
    height: 30px;
}
.playerBar-left-top-control-icon2{
    width: 24px;
    height: 24px;
}
.playerBar-left p,#playBar-left-ar-wrap{
    display: inline;
    font-size: 14px;
    color: #d3d3d3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 130px;
    height: 25px;
}
#playerBar-left-name{
    position: absolute;
    top: -6px;
    left: 60px;
}
#playBar-left-ar-wrap{
    position: absolute;
    top: 28px;
    left: 60px;
}
#playBar-left-ar{
    position: relative;
}
.playerBar-audioContent{
    width: 700px;
    height: 50px;
    position: relative;
    left: 200px;
}
.playerBar-audioContent-panel{
    width: 700px;
    height: 25px;
    margin: 10px auto;
}
.playerBar-audioContent-progressBar{
    width: 600px;
    height: 25px;
    position: absolute;
    left: 50px;
    top: 40px;
}
.playerBar-audioContent-progressBar-wrap{
    width: 600px;
    height: 8px;
    background-color: rgba(224, 224, 224, 0.3);
    border-radius: 4px;
    overflow: hidden;
}
.playerBar-audioContent-progressBar-durationBar{
    height: 8px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    background-color: #e87535;
    top: 0;
}
.playerBar-audioContent p:nth-child(2){
    position:absolute;
    top: 26px;
    left: 5px;
    color: #606266;
    font-size: 10px;
}
.playerBar-audioContent p:nth-child(4){
    position:absolute;
    top: 26px;
    left: 662px;
    color: #606266;
    font-size: 10px;
}
#volumeIcon{
    width: 20px;
    position: absolute;
    top: 35px;
    right: 70px;
    cursor: pointer;
}
#playlistIcon{
    width: 18px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}
#volumeIconBody{
    background-color: #252525;
    width: 30px;
    height: 100px;
    position: absolute;
    top: -70px;
    right: 66px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px #171719;
}
#volumeIconBodyContainer{
    background-color: #3A3A3A;
    width: 10px;
    height: 80px;
    border-radius: 5px;
    position: absolute;
    left: 11px;
    top: 10px;
}
#volumeIconBodyBar{
    width: 10px;
    background-color: #6d75a2;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}
#preparedSongList{
    background-color: #363636;
    width: 400px;
    height: 450px;
    position: absolute;
    top: -450px;
    transition: linear 0.2s;
}
#preparedSLTop{
    width: 400px;
    height: 90px;
    overflow: hidden;
}
#preparedSLTop span:nth-child(1){
    color: #D3D3D3;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 15px;
    display: block;
}
#preparedSLTop span:nth-child(2){
    font-size: 13px;
    color: #555B5B;
    margin-left: 20px;
    margin-top: 15px;
    display: block;
}
#preparedSLTop span:nth-child(3){
    font-size: 15px;
    color: #D3D3D3;
    position: absolute;
    right: 20px;
    top: 60px;
    cursor: pointer;
}
#preparedSLBottom {
    width: 400px;
    height: 359px;
    overflow: hidden;
}
#cutOff{
    width: 360px;
    height: 1px;
    background-color: #3F3F3F;
    border: none;
    margin: 0 auto;
}
.preparedSongContent{
    font-size: 13px;
    position: relative;
    top: 0;
}
.preparedSongContent:nth-child(2n){
    font-size: 13px;
    position: relative;
    top: 0;
    background-color: #393939;
}
.preparedSongContent:hover{
    background-color: #3D3D3D;
}
.el-scrollbar{
    margin-top: 5px;
}
.preparedSongContent div{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}
.preparedSongContent div:nth-child(1){
    width: 220px;
}
.preparedSongContent div:nth-child(2){
    width: 120px;
}
.preparedSongContent div:nth-child(3){
    width: 60px;
}
.preparedSongContent div:nth-child(1) span{
    color: #D3D3D3;
    font-size: 13px;
    margin-left: 20px;
}
.preparedSongContent div:nth-child(2) span{
    color: #8F8F8F;
    margin-left: 5px;
}
.preparedSongContent div:nth-child(3) span{
    color: #5E5E5E;
    margin-left: 7px;
}

/*歌曲详情页弹窗*/
.songMovingWindow{
    /*70  520*/
    width: 1100px;
    height: 450px;
    background-color: #2C2C2C;
    position: absolute;
    top: 520px;
    left: 0;
    transition: linear 0.2s;
    z-index: 99;

}
.songMovingWindow-top{
    width: 1100px;
    height: 400px;
}
.songMovingWindow-top-pan{
    width: 360px;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.songMovingWindow-top-middle{
    width: 380px;
    height: 400px;
    display: inline-block;
    overflow: hidden;
}
.songMovingWindow-top-right{
    width: 360px;
    height: 400px;
    background-color: #515575;
    display: inline-block;
}
#vinyl{
    width: 230px;
    height: 230px;
}
#header{
    width: 80px;
    position: absolute;
    z-index: 102;
    left: 180px;
    top: 20px;
    transition: 0.1s linear;
    transform-origin: 10px 10px;
}
.songMovingWindow-top-pan-content{
    z-index: 101;
    width: 230px;
    height: 230px;
    position: absolute;
    top: 100px;
    left: 70px;
    border-radius: 115px;
    animation: infinite rotate 30s linear;
    box-shadow: 0 0 1px 10px rgba(56, 58, 58, 0.51);
}
#vinyl-cover{
    width: 210px;
    height: 210px;
    z-index: -1;
    border-radius: 110px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#songName{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    position: relative;
    top: -15px;
    color: #D4D4D4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 380px;
}
.songMovingWindow-top-middle-header-ar{
    text-align: center;
    position: relative;
    top: -35px;
    width: 380px;
    height: 20px;
    margin: 0 auto;
    font-size: 15px;
    color: #7A797C;
}
.songMovingWindow-top-middle-header-ar p{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 15px;
    display: inline;
}
.songMovingWindow-top-middle-lyric{
    color: #606266;
    text-align: center;
    height: 300px;
}
.lyricContent{
    width: 380px;
    padding: 0 0 100px 0;
}
.lyricContent li{
    width: 380px;
    list-style: none;
    margin-top: 20px;
    white-space:pre-wrap;
}
.songMovingWindow-bottom{
    width: 600px;
    height: auto;
    margin: 20px auto;
}
#allCommentsTitle{
    color: #D5D5D5;
    font-weight: bold;
    position: relative;
}
.commentDivider{
    width: 600px;
    height: 1px;
    border: none;
    margin: 0 auto;
    background-color: #363636;
}
.songHotCommentsContent{
    width: 600px;
    height: auto;
}
.songCommentContentTop{
    width: 550px;
    height: auto;
    position: relative;
    top: -45px;
    left: 50px;
    color: #D5D5D5;
    font-size: 13px;
}
.songCommentContentBottom{
    width: 100%;
    height: 30px;
    position: relative;
    top: -20px;
}
.commentsUserAvatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
}
.commentsUserName{
    color: #85B9E6;
}
.commentsPublishTime{
    color: #6B6A6A;
    font-size: 10px;
    line-height: 10px;
    margin-left: 50px;
    margin-top: 0;
}
.parentComment{
    background-color: rgb(52, 52, 52);
    width: 530px;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}
.parentComment span:nth-child(1){
    color: #a0a9d9;
}
#checkMoreHotCommentsButton{
    width: 120px;
    height: 40px;
    border: 1px solid #D5D5D5;
    border-radius: 20px;
    color: #8d92b9;
    background-color: transparent;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}
#checkMoreHotCommentsButton:hover{
    color: #d9dcfa;
}
#loadingCover{
    width: 100%;
    height: 100px;
}
.thumbupComment{
    position: relative;
    width: 17px;
    top: 5px;
    left: 320px;
    cursor: pointer;
}
.commentsThumbUpCount{
    position: relative;
    top: 0;
    left: 325px;
    color: #D5D5D5;
    font-size: 10px;
}
#sendAMessage{
    background-color: #3f3f3f;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    color: #D5D5D5;
    cursor: pointer;
    position: absolute;
    top: 400px;
    right: 110px;
    z-index: 99;
}
#sendAMessage .svg-icon{
    width: 20px;
    position: absolute;
    top: 8px;
    left: 7px;
}
#sendAMessage span{
    position: absolute;
    left: 32px;
    line-height: 40px;
    font-size: 15px;
}
.sendCommentToSomeone{
    position: relative;
    width: 17px;
    top: 6px;
    left: 360px;
    cursor: pointer;
}
