body{
    padding: 0;
    margin: 0;
}
.navigationMain{
    background-color: rgba(0, 0, 0, 0.16);
    width: 200px;
    height: 100%;
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /*禁止选中文本*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
.navigationMain-profile{
    height: 60px;
    width: 100%;
}
#navigation-login{
    font-size: 15px;
    color: #c6cdff;
    position: fixed;
    top: 25px;
    left: 70px;
    cursor: pointer;
}
#navigation-nickname{
    font-size: 10px;
    color: #c6cdff;
    position: fixed;
    top: 15px;
    left: 70px;
}
.navigationMain-profile-avatar{
    background-color: #c6cdff;
    margin-left: 10px;
    margin-top: 10px;
}

