body{
    padding: 0;
    margin: 0;
}
.artistAlbumInfoMain{
    width: 100%;
    height: auto;
    min-height: 300px;
}
#top50Songs,.hotAlbums{
    width: 100%;
}
#top50Songs ul,.hotAlbums ul{
    width: 600px;
    height: auto;
    float: left;
    margin-left: 10px;
    list-style: none;
    min-height: 140px;
    padding-bottom: 10px;
}
#top50Songs li,.hotAlbums li{
    height: 25px;
    color: #b4b4b4;
    font-size: 14px;
    position: relative;
    line-height: 25px;
}
#top50SongsTitle,.hotAlbumsTitle{
    color: #e3e3e3;
    width: 600px;
    margin: 20px 0 0 50px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
#top50Songs li:nth-child(odd),.hotAlbums li:nth-child(odd){
    background-color: #2E2E2E;
}
#top50Songs li:nth-last-child(1){
    height: 25px;
    color: #b4b4b4;
    font-size: 12px;
    position: relative;
    line-height: 25px;
    background-color: transparent;
}
#top50Songs li span:nth-child(1),.hotAlbums li span:nth-child(1){
    position: absolute;
    left: 20px;
}
#top50Songs li span:nth-child(2),.hotAlbums li span:nth-child(2){
    position: absolute;
    left: 60px;
}
#top50Songs li span:nth-child(3),.hotAlbums li span:nth-child(3){
    position: absolute;
    left: 550px;
}
#top50Songs li:hover{
    background-color: #373737;
}
#top50SongsBanner,.hotAlbumsBanner{
    float: left;
    width: 150px;
    height: 150px;
    background: linear-gradient(to right bottom, #405277, #64898e);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 20px 0 0 0;
    font-weight: bolder;
    letter-spacing: 2px;
}
.hotAlbumsBanner img{
    width: 150px;
    height: 150px;
}
#top50SongsBanner p{
    font-size: 30px;
    color: #bbbdea;
    margin: 0;
    line-height: 150px;
}
