body{
    padding: 0;
    margin: 0;
}
.homePage{
    width: 920px;
    height: 450px;
    overflow: hidden;
}
.homePage-carousel{
    width: 840px;
    height: 200px;
    margin: 20px auto;
}
.homePage-carousel img{
    height: 100%;
}